@model InventoryManagement.Controllers.changePassModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Your Password</h1>

<h4>UserID : @globalVar.id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pass1" class="control-label">Password</label>
                <input asp-for="pass1" class="form-control" />
                <span asp-validation-for="pass1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass2" class="control-label">Confirm Password</label>
                <input asp-for="pass2" class="form-control" />
                <span asp-validation-for="pass2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
